{{ define "content" }}
<body> 
  <main style="margin: 2% 5%;">
    <div class="row">
      <h2> Filter Log </h2>
      <div class="panel panel-primary">        
        <div class="panel-body">
          <form action="/log" method="get">
            <select name="action">
              <option value="inquiry" {{if eq .Filter.Action "inquiry"}} selected {{ end}}> 
                INQUIRY 
              </option>
              <option value="payment" {{if eq .Filter.Action "payment"}} selected {{ end}}> 
                PAYMENT 
              </option>
            </select>
            <select name="limit">
              <option value="10" {{if eq .Filter.Limit "10"}} selected {{ end}}> 10 </option>
              <option value="50" {{if eq .Filter.Limit "50"}} selected {{ end}}> 50 </option>
              <option value="100" {{if eq .Filter.Limit "100"}} selected {{ end}}> 100 </option>
            </select>
            <input type="submit" value="Filter">
          </form>      
        </div>
        <div class="panel-footer">
          Filtered :
          {{ if .Status }}                  
          <div class="panel panel-success">
            <div class="panel-body">
              <li> action : {{.Status}} </li>
              <li> action : {{.Filter.Action}} </li>
              <li> rows : {{.Filter.Limit}} </li>
            </div>            
          </div>
          {{ else }} 
          <div class="panel panel-danger">
            <div class="panel-body">
              <p> {{ .Message}}</p>
            </div>            
          </div>          
          {{ end }} 
        </div>          
      </div>
    </div>
    <div class="row">
      <h2> Result </h2>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <th> TS </th>
          <th> Biller </th>
          <th> Tipe </th>
          <th> ID Bayar </th>
          <th> Nama </th>
          <th> Bank</th>
          <th> Channel</th>
          <th> Terminal</th>
          <th> RC </th>
          <th> Elapsed Time </th>
          
        </thead>
        {{if .Data }}
        {{ range .Data }}
        <tr>
          <td> {{.Ts.Format "2006-01-02 15:04:05" }} </td>
          <td> {{ getType .Subbiller.String}} </td>
          <!-- <td> 
            {{ if eq .TsResp.Valid false }}
            "-"
            {{ else }}
            {{.TsResp.Time.Format "2006-01-02 15:04:05" }} 
            {{ end }}
          </td> -->
          <td> {{.Biller }}{{.Subbiller.String}} </td>
          <td> {{.IdByr }} </td>
          <td> {{.Nama.String }} </td>
          <td> {{.Bank}}</td>
          <td> {{.Channel}} </td>
          <td> {{.Terminal}} </td>
          <td> {{.RC.String }} </td>
          <td> 
            {{ if eq .ElapsedTime.Valid false }}
            -
            {{ else }}
            {{.ElapsedTime.String }}
            {{ end }}
          </td>
        </tr>
        {{ end }}
        
        {{ else }}
        <p>
          No data was found
        </p>
        {{ end }}
      </table>
    </div>    
  </main>
</body>
{{ end }}